html body main div header section h1 h2 ul form a input label p{
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.log-form {
  height: auto;
  width: 400px;

  padding: 30px;
}

ul {
  list-style: none;
}


.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.tab-group li {
  float: left;
  width: 50%;
}


.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.log-form{
  color: #ffffff;
  background: rgba(19, 35, 47, 1.0);
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}
.input {
  margin: 20px 0;
}
.input > label {
  display: block;
  font-weight: bold;
}
.input > input {
  display: block;
  padding: 5px;
  width: 387px;
}
.input > input:focus {
  border-color: #0c0;
}

.logo {
  width: 30px;
  height: 30px;
  background: url('/assets/logo30.png');
}
