/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html body main div header section h1 h2 h3 h4 ul li img form a input label p{
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}
body {
  /*background-color: #eae8e8;*/
  font-family: sans-serif;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.log-form {
  height: auto;
  width: 400px;

  padding: 30px;
}

ul {
  list-style: none;
}


.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.tab-group li {
  float: left;
  width: 50%;
}


.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.log-form {
  color: #ffffff;
  background: rgba(19, 35, 47, 1.0);
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.modal-h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}
.input {
  margin: 20px 0;
}
.input > label {
  display: block;
  font-weight: bold;
}
.input > input {
  display: block;
  padding: 5px;
  width: 387px;
}
.input > input:focus {
  border-color: #0c0;
}

.logo {
  width: 30px;
  height: 30px;
  background: url('/assets/logo30.png');
}


.github {
  float: right;
  margin-top: 31px;
  margin-right: 37px;
  font-size: 26px;
}
