.categories-item {
  width: 70%;
  margin-left: 20%;
}


.feedblock-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.current-cat {
  margin-left: 50px;
  font-size: 26px;
}

.othercat {
  background-color: #ECECEC;
  width: 167px;
  float: left;
  font-size: 14px;
  padding: 10px;
  margin-right: 17px;
  margin-bottom: 10px;
}

.othercat:hover {
  background-color: #dddddd;
  cursor: pointer;
}
