.feeddetail {
  margin-left: 200px;
  margin-right: 30px;
  width: 60%;
  float: left;
}

.feeddetail-main {
  margin-top: 0px;
  padding-left: 33px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 102px;
  max-width: 681px;
}

.feeddetail-ul {
  padding-right: 33px;
}

.feeddetail-title {
  margin-left: 33px;
  padding-left: 40px;
  text-transform: capitalize;
  font-size: 26px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: -0.04em;
  font-family: sans-serif;
  text-rendering: optimizeLegibility
}

.article-published {
  font-weight: normal;
  color: #9E9E9E;
  font-size: 12px;
  line-height: 1.4em;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  clear: both;
  font-family: sans-serif;
}

.article-img {
  height: 109px;
  width: 204px;
  float: left;
  display: block;
  opacity: 1;
  padding-right: 15px;
}

.article-title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  margin-bottom: 4px;
  overflow: hidden;
}

.article-content {
  font-size: 13px;
  line-height: 17px;
  max-height: 70px;
  overflow: hidden;
  margin-bottom: 4px;
  margin-top: 4px;
}

.article-block {
  width: 610px;
}

.article-block:hover {
  cursor: pointer;
}
