.feedsnow {
  margin-left: 20%;
}

.feedsnow-main {
  width: 620px;
}

.feedsnow-title {
  padding-top: 26px;
  margin-left: 40px;
  color: #333333;
  font-size: 26px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: -0.04em;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
}

.feedsnow-subtitle {
  margin-left: 40px;
  display: block;
  padding-left: 0px;
  padding-top: 4px;
  line-height: 17px;
  color: #B4B3B2;
  letter-spacing: 0em;
  font-family: sans-serif;
}


.feedsnow-feed-name {
  font-size: 12px;
  color: #9E9E9E;
  position: relative;
  top: 63px;
  left: 80px;
}

.loading-desc {
  text-align: center;
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
