.sidebar {
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;
  height: 100%;
  width: 68px;
  float: left;
  color: rgba( 0, 0, 0, 0.63 );
  line-height: 28px;
  font-weight: normal;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 1;
  background-size: 24px 24px;
  -webkit-background-size: 24px 24px;
  background: #1ab188;
  background-position: 14px 36px;
  background-repeat: no-repeat;
  -webkit-background-size: 24px;
  -webkit-background-size: 24px;
  -ms-background-size: 24px;
  -o-background-size: 24px;
  background-size: 24px;
  opacity: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-appearance: none;
}
.hamburger-icon {
  margin-top: 15px;
  margin-left: 19px;
  font-size: 26px;
  color: white;
}
.sidebar-content-container {
  display: none;
}
.sidebar:hover {
  width: 268px;
}
.sidebar:hover .hamburger-icon {
  opacity: 0;
}
.sidebar:hover .sidebar-content-container {
  display: block;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-appearance: none;
  width: 70%;
  margin-left: -8px;
}

.sidebar-login {
  margin: 100px 27px;
}

.login-signup {
  margin-left: -6px;
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 15px;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #179b77;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-appearance: none;
}

.login-signup:hover, .login-signup:focus {
  background: black;
}
.logout-button:hover, .logout-button:focus {
  background: black;
}



.sidebar-footer {
  display: none;
  left: 80px;
  bottom: 0;
}
.sidebar-footer-name {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .1em;
  color: #ffffff;
}
.logout-button {
  margin: 0px 78px;
  width: 42%;
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 15px;
  font-size: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #179b77;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-appearance: none;
}
.sidebar:hover .sidebar-footer {
  display: block;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-appearance: none;
}
.sidebar-tabs {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
}

.middlepage {
  margin-left: 68px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-appearance: none;
}
.sidebar:hover ~ .tbd > .middlepage {
  margin-left: 268px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-appearance: none;
}

.splash {
  margin-left: 68px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-appearance: none;
}
.sidebar:hover ~ .tbd > .splash {
  margin-left: 268px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-appearance: none;
}
